	
</div><!-- /.main-content -->
</div><!-- /.main-container-inner -->

</div><!-- /.main-container -->
<script>
angular.module("thoughts_app").service("userInfo",function(){
	console.log("Get user informaion once;")
	return {
		is_login:<%= is_login %>,
		
		user: {id:'<%= user.id %>',name:'<%= user.name %>',email:'<%= user.email%>',avatar:'<%= user.avatar %>',password:'<%= user.password %>',points:<%= user.points || 0 %>}
	}
})
angular.module("thoughts_app").controller("LoginCtrl",function($scope,httpService,hotkeys,userInfo){
	
	$scope.is_login =userInfo.is_login;
	$scope.user = userInfo.user;  
	$scope.logout = function(event){
		event.stopPropagation();
		window.location = "/users/logout";
	}
	$scope.login = function(event){
		window.location = "/users/login";
	}
	$scope.init_data = function(){
		if ($scope.is_login){
			var url = "/projects/list";
			httpService(url,{},function(json){
				$scope.projects = json;
			});
		}
		angular.element("#top_right_area").show();
	}
	$scope.open_project = function(p,event){
		event.stopPropagation();
		window.location.href = "/projects/detail/" + p._id;
	}
	$scope.init_data();
	hotkeys.bindTo($scope)		
	.add({
		combo:"f",
		callback:function(){
			//Message.confirm("Are you sure?",null,null,function(){console.log("Cancel");},function(){console.log("OK");})
			var index = layer.open({
			    type: 2,
			    title:"Search",
			    content: '<%= base_url %>/bing/index',
			    area: ['300px', '195px'],
			    maxmin: true
			});
			layer.full(index);

		}
	})

});	
/*
angular.module("thoughts_app").controller("LoginCtrl",function($scope,httpService){
	$scope.user =null;
	$scope.is_login = false;
	$scope.load_data = function(){
		var url ="/users/info";
		httpService(url,{},function(json){
			if (json.status){
				$scope.is_login = true;
				$scope.user = json.result;
			}else{
				$scope.is_login = false;
				$scope.user = null;
			}

			console.log(json);
		},null);
	}
	$scope.load_data();
	$scope.logout = function(event){
		event.stopPropagation();
		window.location = "/users/logout";
	}
	$scope.login = function(event){
		window.location = "/users/login";
	}
});	*/
</script>

	<!--          This is footor of html body -->

	
</body>
</html>
