<% include ../shared/header %>

		
				
<form action="/users/add" method="POST">
		<input type="hidden" name="id" value="<%= user.id %>"/>
		<input type="text" name="name" placeholder="username" value="<%= user.name %>"/>
		<input type="email" name="email" placeholder="email"  value="<%= user.email %>"/>
		<input type="password" name="password" placeholder="password"  value="<%= user.password %>"/>
		<input type="text" name="points" placeholder="points"  value="<%= user.points %>"/>							
		<input type="submit" value="<%= user.id?'Update':'Add' %>"/>
</form>
					
				

		
<% include ../shared/load_public %>
		
<% include ../shared/footer %>
