<% include ../shared/header %>

		
				
<table class="table table-bordered">
	<thead>
		<tr>
			<td>Username</td>
			<td>Action</td>
			<td>Date</td>
			
			<td></td>
		</tr>
	</thead>
	<tbody>
		<% for(var i=0;i<logs.length;i++){ var log = logs[i]; %>
		<tr>
			<td> <%= log.user.name %> </td>
			<td> <%= log.content %> </td>
			<td> <%= log.created_date %> </td>
			<td>
				<a class="btn" href="edit/<%= log.id %>">Edit </a>
				<a class="btn" href="remove/<%= log.id %>">Remove </a>
			</td>
		</tr>
		<% } %>
	</tbody>
</table>
					
				

<% include ../shared/load_public %>
		
<% include ../shared/footer %>
