<% include ../shared/header %>

		
<table class="table table-bordered">
	<thead>
		<tr>
			<td>User</td>
			<td>Content</td>
			<td>Date</td>
			
			<td></td>
		</tr>
	</thead>
	<tbody>
		<% for(var i=0;i<posts.length;i++){ var post = posts[i]; %>
		<tr>
			<td> <%= post.user.name %> </td>
			<td> <%= post.content %> </td>
			<td> <%= post.created_date %> </td>
			
			<td>
				<a class="btn" href="edit/<%= post.id %>">Edit </a>
				<a class="btn" href="remove/<%= post.id %>">Remove </a>
			</td>
		</tr>
		<% } %>
	</tbody>
</table>
<div class="panel">
	<a href="/posts/index">Add</a>
</div>
			
		

		
<% include ../shared/load_public %>

		
<% include ../shared/footer %>
